@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-paper text-charcoal overflow-x-hidden;
    cursor: none;
  }

  /* Custom Scrollbar Handling */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

/* Fallback for when custom cursor is disabled/fails */
@media (pointer: coarse) {
    body {
        cursor: auto;
    }
}
